# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# Environment Variables
.env

# Logs
logs/
*.log

# Docker
*.pid

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Database
*.sqlite3

# Node (if added later)
node_modules/

# Build files
dist/
build/